*{padding: 0;margin: 0;box-sizing: border-box;transition: all 0.5s ease-in-out;}
body{
    background-color: #fff;
    
}
html{
    scroll-behavior: smooth;
}
.head{
    width: 100vw;height: 100px;
    
}
/*button scroll top*/
.button{
    bottom: 22px; right: 22px;
    position: fixed;
    width:50px ;height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: all .4s;
    border-radius: 50%;
    pointer-events: none;
}
.button img{
    width: 100%;
    border: solid 1px black;
    border-radius: 50%;
}
.button.active{
    bottom: 33px;
    opacity: 1;
    pointer-events: auto;
}
/*style for header*/
.head header{
    width: 100vw;height: 100%;
    background-color: #393e46;
}
.head header .left{
    width: 40%;height: 100%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head header .left h1{
    font-size: 30px;
    color: #fff;
    position: relative;
    z-index: 2;
}
.head header .left h1::before{
    content: "";
    height: 100%;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: red;
    position:absolute;
    z-index: -1;
    animation:h1 5s infinite;
}
@keyframes h1 {
    1%{width: 0%;}
    100%{width: 100%;}
}

.head header .right{
    width: 50%;height: 100%;
    float:right;
}
.head header .right ul{
    height: 100%;
}
.head header .right ul li{
    list-style: none;
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.head header .right ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.head header .right ul li a::before{
    background-color: red;
    content: "";
    height: 100%;
    top: 0;left: 0;right: 0;bottom: 0;
    position:absolute;
    z-index: -1;
    width: 100%;
    opacity: 0;
    transition: all 2.4s;
    
}

.head header .right ul li a:hover::before{
   opacity: 1;
   border: white 1px solid;

    
}
@keyframes a{
    
    100%{width: 100%;}
}

/*END style for header*/
/************************************/
/*Style for home */
.home{
    margin: auto;
    width: 100vw;height: 500px;
    background-color: #00adb5;
    position: relative;
    z-index: 0;
}
.home .content{
    width: 100%;height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
}
.home .content h1{
    font-size:100px;
}
.home .content h1 span{
    background-color: black;
    color: #fff;
    width:fit-content;
    position: relative;
    height:100%;
    overflow: hidden;
}
.home .content h1 span::before{
    content:attr(data-text);
    position:absolute;
    left: 0;top: 0;
    transition: all 1.5s;
    width:100% ;height: 0;
    overflow: hidden;
    background-color:black;
    animation: spanh1 infinite 10s ;
}
@keyframes spanh1{
    0%{ height: 10%;}
    50%{height: 100%;}
    100%{ height: 10%;}
  
}

/*END style for div home*/
/**********************************************************/
/*Start Style for div about */
.about{
    margin: auto;
    width: 100vw;height: 500px;
    background-color: #aad8d3;
    position: relative;
    z-index: 0;
}

.about .content{
    width: 100%;height: 100%;
    z-index: 10;
    position: relative;
    padding: 10px 20px;
}
/*style for left in about*/
.about .content .left{
    float: left;
    width: 50%;height: 100%;
}

/*style left and right in div left */
.about .content .left .left{
    float: left;
    width:30% ;height: 100%;
    display: block;
    text-align:end;
}
.about .content .left .left h2{
    height: 33%;
}
.about .content .left .right{
    float: right;
    width: 70%;height: 100%;
}
.about .content .left .right h2{
    height: 33%;
}

/*Style for right in about*/
.about .content >.right{
    float: right;
    width: 50%;height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .content .right img{
    width: 60%;
    border-radius: 50%;
    border: #111 solid 2px;
}
/*END Style for div about */
/*Start Style for div skills*/
.skills{
    margin:50px auto;
    width: 1000px;height: 500px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;  /*is trun flex*/
    justify-content: space-around;
    background-color: #fff;
}
.skills>div{
    color: #fff;
    width: 320px;
    height: 100px;
    background-color: #111;
    margin: 20px 30px;
    transition: 0.5s;
    position: relative;
	z-index: 0;
	width: 25% ;
    height: 75%;
	border-radius: 10px;
	
}
.skills>div:hover{
    transform: translateY(-20px);
}
.skills>div::before{
    content: "";
    position: absolute;
    top: 0;left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#00adb5,#aad8d3);
    
}
.skills>div::after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
   
    background: linear-gradient(45deg,#00adb5,#aad8d3);
    filter: blur(30px);
}

.skills>div span{
    position: absolute;
    top:6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    cursor: pointer;

}
.skills>div span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.1);
    pointer-events: none;
    
}

.skills>div .content{
    z-index: 10;
    position: relative;
    padding: 10px 20px;
    width: 100%;height: 100%;
    cursor: pointer;
}
.skills :is(.html,.css,.js){
    width: 100%;
    height: 80%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
.skills :is(.html,.css,.js) h1{
    height: 80%;
    text-align: center;
    font-size: 48px;
  }   
.skills :is(.html,.css,.js) .how{
    
    margin: auto;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    background-color:#dbdbdb;
}

.skills .how .much{
    border-radius: 20px;
    width: 0;
    animation: html 10s;
    animation-iteration-count: infinite;
    background-color: red;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.skills .css .how .much{
    animation: css 10s infinite;
}
.skills .js .how .much{
    animation: js 10s infinite;
}

.skills .how .much p{
    
    font-size: 22px;
}
@keyframes html {
    from{ width: 0%;}
    to{  width: 90%;}
}
@keyframes css {
    from{ width: 0%;}
    to{  width: 90%;}
}
@keyframes js {
    from{ width: 0%;}
    to{  width: 80%;}
}

/*END Style for div skills*/
/*Start Style for div projects*/
.projects{
    margin:50px auto;
    width: 1000px;height: 1000px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.projects>div{
    color: #fff;
    background-color: #111;
    margin: 20px 30px;
    transition: 0.5s;
    position: relative;
	z-index: 0;
	width: 270px ;
    height: 400px;
    border-radius: 10px;
    display: inline-block;
	
}
.projects>div:hover{
    transform: translateY(-20px);
}
.projects>div::before{
    content: "";
    position: absolute;
    top: 0;left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00,#ff0058);
    animation: roter2 5s infinite;
    
}
.projects>div::after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#8B0000,#00FF00);
    filter: blur(30px);
}
@keyframes roter2 {
    25%{background: linear-gradient(45deg,#8B0000,#00FF00);}
    50% {background: linear-gradient(80deg,#8B0000,#00FF00);}
    75%{background: linear-gradient(120deg,#8B0000,#00FF00);}
    100% {background: linear-gradient(180deg,#8B0000,#00FF00);}
}
.projects>div span{
    position: absolute;
    top:6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    cursor: pointer;

}
.projects>div span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.1);
    pointer-events: none;
    
}

.projects>div .content{
    z-index: 10;
    position:absolute;
    padding: 10px 20px;
    width: 270px ;
    height: 400px;
    cursor: pointer;
}

.projects>div .content .img{
    width: 100%;
    height: 60%;
}
.projects>div .content .img img{
    width: 100%;
}

.projects>div .content .readmore{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects>div .content .readmore a{
    border: #fff 1px solid;
    padding: 10px;
    color: #000;
    font-size: 24px;
    text-decoration: none;
}
.projects>div .content .readmore a:hover{
    border: black 1px solid;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    background-color: black;
}
/*END Style for div projects*/
/*Start style for div contact*/
.contact{
    margin:50px auto;
    width: 1000px;height: 500px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;  /*is trun flex*/
    justify-content: space-around;
    background-color: #fff;
    
}
.contact>div{
    color: #fff;
    background-color: #111;
    margin: 20px 30px;
    transition: 0.5s;
    position: relative;
	z-index: 0;
	width: 25% ;
    height: 75%;
	border-radius: 10px;
	
}
.contact>div:hover{
    transform: translateY(-20px);
}
.contact>div::before{
    content: "";
    position: absolute;
    top: 0;left:0;
    width: 100%;
    height: 100%;
   /* background: linear-gradient(45deg,#ffbc00,#ff0058);
    animation: roter2 5s infinite;*/
    
}
.contact>div::after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#393e46,#aad8d3);
    filter: blur(30px);
}
@keyframes roter14 {
    25%{background: linear-gradient(45deg,#8B0000,#00FF00);}
    50% {background: linear-gradient(80deg,#8B0000,#00FF00);}
    75%{background: linear-gradient(120deg,#8B0000,#00FF00);}
    100% {background: linear-gradient(180deg,#8B0000,#00FF00);}
 }
 .contact>div:nth-of-type(1)::before{
   
    background: linear-gradient(45deg,#0800f3,#216aff);
    animation: facebook 1s infinite;
 }
 .contact>div:nth-of-type(1)::after{
    background: linear-gradient(45deg,#393e46,#aad8d3);
 }

 @keyframes facebook {
    25%{background: linear-gradient(45deg,#b826f0,#2766fa);}
    50% {background: linear-gradient(80deg,#b826f0,#2766fa);}
    75%{background: linear-gradient(120deg,#b826f0,#2766fa);}
    100% {background: linear-gradient(180deg,#b826f0,#2766fa);}
 }
 .contact>div:nth-of-type(2)::before{
    background: linear-gradient(45deg,#ff0000,#ffffff);
    animation: youtube 1s infinite;
 }
 @keyframes youtube {
    25%{background: linear-gradient(45deg,#ff0000,#ffffff);}
    50% {background: linear-gradient(80deg,#ff0000,#ffffff);}
    75%{background: linear-gradient(120deg,#ff0000,#ffffff);}
    100% {background: linear-gradient(180deg,#ff0000,#ffffff);}
 
 }
 .contact>div:nth-of-type(3)::before{
    background: linear-gradient(45deg,#000000,#000);
    animation: github 1s infinite;
 }
 @keyframes github {
    25%{background: linear-gradient(45deg,#000000,#fff);}
    50% {background: linear-gradient(80deg,#fff,#000);}
    75%{background: linear-gradient(120deg,#000000,#fff);}
    100% {background: linear-gradient(180deg,#fff,#000);}
 
 }
 .contact>div span{
    position: absolute;
    top:6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    cursor: pointer;

}
.contacts>div span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.1);
    pointer-events: none;
    
}

.contact>div .content{
    z-index: 10;
    position: relative;
    padding: 10px 20px;
    width: 100%;height: 100%;
    cursor: pointer;
}
.contact>div .content .top{
    width: 100%;height: 60%;
}
.contact>div .content .top img{
    width: 100%
}
.contact>div .content .bottom{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact>div .content .bottom a{
    border: #fff 1px solid;
    padding: 10px;
    color: #000;
    font-size: 24px;
    text-decoration: none;
}
.contact .facebook .content .bottom a{
    color: blue;
}
.contact .facebook .content .bottom a:hover{
    color: white;
    background-color: blue;
}
.contact .youtube .content .bottom a{
    color: red;
}
.contact .youtube .content .bottom a:hover{
    color: white;
    background-color: red;
}
.contact .github .content .bottom a{
    color: #000;
}
.contact .github .content .bottom a:hover{
    color: white;
    background-color: #000;
}

/*END style for div contact*/
/*style for footer */
footer{
    width: 100vw;height: 200px;
    background-color: #393e46;
}
footer .footer{
    margin: auto;
    width: 400px;height: 200px;
    text-align: center;
}
footer .footer .top{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer ul li{
    margin: auto;
    padding: 10px;
    float: left;
    list-style: none;
}
footer .footer ul li img{
    width: 44px;
}
footer .footer ul li img:hover{
    opacity: 0.5;
    width: 60px;
}
footer .footer p{
    color: white;
    font-size: 24px;
}